<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423335283643-2n76nt5u3tv3c7ddeg5pfgrvf70ckfgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423335283643-2n76nt5u3tv3c7ddeg5pfgrvf70ckfgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423335283643-pl3351hdhcov9kuuogacob60j4see2ps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASmpCB6Nm6WEM4NBJ5OwG1D1gM-Wp7x1s</string> <!-- flutter_config - - Also, check in google_services.json -> client.api_key.current_key -->
	<key>GCM_SENDER_ID</key> 
	<string>423335283643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ionita.mango</string>
	<key>PROJECT_ID</key>
	<string>mango-47065</string>
	<key>STORAGE_BUCKET</key>
	<string>mango-47065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423335283643:ios:6d2ff024345e9c2578d29e</string>
	<key>DATABASE_URL</key>
	<string>https://mango-47065.firebaseio.com</string>
</dict>
</plist>